<h2 class="page-header">자기소개 | Self - Introduce</h2>

<div id="app" class="container2">
  <div class="card-wrap">
    <div class="card" style="transform: rotateY(0deg) rotateX(0deg);">
      <div class="card-bg"
        style="background-image: url(&quot;https://media.istockphoto.com/photos/silhouette-of-man-in-dark-place-anonymous-backlit-contour-a-picture-id1139459625?b=1&k=20&m=1139459625&s=170667a&w=0&h=zVpBlAmdwUDWIVf0Zxtb3idMCitol4nzII2qde8Ybag=&quot;); transform: translateX(20px) translateY(20px);">
      </div>
      <div class="card-info">
        <h1>NAME</h1>
        <p>Choi Byeongjun</p>
      </div>
    </div>
  </div>
  <div class="card-wrap">
    <div class="card" style="transform: rotateY(0deg) rotateX(0deg);">
      <div class="card-bg"
        style="background-image: url(&quot;https://images.pexels.com/photos/208189/pexels-photo-208189.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260&quot;); transform: translateX(20px) translateY(20px);">
      </div>
      <div class="card-info">
        <h1>BIRTH</h1>
        <p>1999. 05. 24</p>
      </div>
    </div>
  </div>
  <div class="card-wrap">
    <div class="card" style="transform: rotateY(0deg) rotateX(0deg);">
      <div id="image1"></div>
      <div class="card-bg"
        style="background-image: url(&quot;https://images.pexels.com/photos/2599868/pexels-photo-2599868.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260&quot;); transform: translateX(20px) translateY(20px);">
      </div>
      <div class="card-info">
        <h1>LIVE</h1>
        <p>Bucheon</p>
      </div>
    </div>
  </div>
  <div class="card-wrap">
    <div class="card" style="transform: rotateY(0deg) rotateX(0deg);">
      <div class="card-bg"
        style="background-image: url(&quot;https://images.pexels.com/photos/786009/pexels-photo-786009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260&quot;); transform: translateX(20px) translateY(20px);">
      </div>
      <div class="card-info">
        <h1>TEL NUM</h1>
        <p>010 6830 1232</p>
      </div>
    </div>
  </div>
  <div class="card-wrap">
    <div class="card" style="transform: rotateY(0deg) rotateX(0deg);">
      <a href="https://www.instagram.com/bottle._.666666/">
        <div class="card-bg"
          style="background-image: url(&quot;https://cdn.pixabay.com/photo/2018/11/13/22/01/instagram-3814080_960_720.png&quot;); transform: translateX(20px) translateY(20px);">
        </div>

        <div class="card-info">
          <h1>INSTA</h1>
          <p>@bottle_666666</p>
        </div>
      </a>
    </div>
  </div>
  <div class="card-wrap">
    <div class="card" style="transform: rotateY(0deg) rotateX(0deg);">
      <div class="card-bg"
        style="background-image: url(&quot;https://images.pexels.com/photos/1591062/pexels-photo-1591062.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260&quot;); transform: translateX(20px) translateY(20px);">
      </div>
      <div class="card-info">
        <h1>E-MAIL</h1>
        <p>qudwns017@naver.com</p>
      </div>
    </div>
  </div>
  <div class="card-wrap">
    <div class="card" style="transform: rotateY(0deg) rotateX(0deg);">
      <a href="https://github.com/qudwns017">
        <div class="card-bg"
          style="background-image: url(&quot;https://techcrunch.com/wp-content/uploads/2019/01/IMG_20181016_092551.jpg&quot;); transform: translateX(20px) translateY(20px);">
        </div>
        <div class="card-info">
          <h1>GitHub</h1>
          <p>qudwns017</p>
        </div>
      </a>
    </div>
  </div>
</div>