.roww {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
    // width: 500px;
}

.coll {
  padding: 0 40px;
  box-shadow: gray 5px 5px 5px;
}

.boxbox {
  border: gray solid 1px;
}